<div class="server-info">
  <a href="https://angular.io/" target="_blank">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" alt="Angular 18.2.9" title="Angular 18.2.9">
  </a>
  <a href="https://getbootstrap.com/" target="_blank">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" alt="Bootstrap" title="Bootstrap">
  </a>
  <a href="https://www.typescriptlang.org/" target="_blank">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" alt="TypeScript" title="TypeScript">
  </a>
  <a href="https://nodejs.org/" target="_blank">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" alt="Node.js" title="Node.js">
  </a>
  <a href="https://jestjs.io/" target="_blank">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jest/jest-plain.svg" alt="JEST" title="JEST">
  </a>
  <a href="https://sonarcloud.io/summary/new_code?id=lionscorp_birthday-calculator-angular" target="_blank">
    <img src="https://static.cdnlogo.com/logos/s/54/sonarcloud-wordmark.svg" alt="SonarCloud" title="SonarCloud">
  </a>
  <a href="https://github.com/LeoneRocha/birthday_calculator_angular" target="_blank">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub" title="GitHub">
  </a>
  <a href="https://www.nginx.com/" target="_blank">
    <img src="https://static.cdnlogo.com/logos/n/17/nginx.svg" alt="Nginx Server" title="Nginx Server">
  </a>
  <a href="https://hub.docker.com/r/leonecr/birthdaycalculator" target="_blank">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original-wordmark.svg" alt="Docker Hub" title="Docker Hub">
  </a>
  <a href="https://azure.microsoft.com/" target="_blank">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/azure/azure-original-wordmark.svg" alt="Azure Cloud" title="Azure Cloud">
  </a>
  <a href="https://lionscorp.visualstudio.com/VariousStudies/_build" target="_blank">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/azuredevops/azuredevops-original.svg" alt="Azure DevOps" title="Azure DevOps">
  </a>
</div>
